# Вариант 1

***Кто делает***:

1. Анохин Георгий Александрович
2. Георгиев Денис Дмитриевич
3. Горячев Иван Сергеевич
4. Даниярбек уулу Нурбол
5. Дорохов Матвей Дмитриевич

**Задача 1**

Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [1]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c = list(set(a).intersection(set(b)))
print(c)

[1, 2, 3, 5, 8, 13]

**Задача 2.**

Найдите три ключа с самыми высокими значениями в словаре my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20, 'g':-10}.

In [2]:
my_dict = {'a': 500, 'b': 5874, 'c': 560, 'd': 400, 'e': 5874, 'f': 20, 'g': -10}


a = [(k, v) for k, v in my_dict.items()]
a.sort(key=lambda x: -x[1])
a = a[0:3]
print(a)

[('b', 5874), ('e', 5874), ('c', 560)]

**Задача 3.**

Пользователь вводит строку с клавиатуры и некоторое слово. Посчитайте, сколько раз данное слово встречается в строке.

In [3]:
string = input("Введите строку: ").split(" ")
word = input("Введите слово: ")
print(f"Это слово встречается в строке {string.count(word)} раз")

Введите строку: qwer tt uu
Введите слово: tt
Это слово встречается в строке 1 раз

**Задача 4.**

На входе программа получает список целых чисел s. Ваша задача - вывести следующие списки по одному в строке, используя генераторы списков:

*   Список, состоящий из квадратов s.
*   Список, состоящий из остатков деления на 11 элементов s.
*   Список, состоящий только из чётных элементов s.
*   Список, состоящий только из элементов s с нечётным количеством цифр.
*   Список, состоящий только из двухзначных элементов s, записанных 2 раза подряд.
*   Список, состоящий из элементов s, стоящих на позициях, не кратных 3.

In [8]:
s = [i for i in range(0, 106)]

pow2 = [i**2 for i in s]
print(pow2)

mod11 = [i % 11 for i in s]
print(mod11)

only_mod2_0 = [i for i in s if i % 2 == 0]
print(only_mod2_0)

only_3_length = [i for i in s if len(str(i)) % 2 == 1]
print(only_3_length)

only_2_length_2_concat = [str(i) * 2 for i in s if len(str(i)) == 2]
print(only_2_length_2_concat)

only_on_non_3_pos = [s[i] for i in range(0, len(s)) if i % 3 != 0]
print(only_on_non_3_pos)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 101, 102, 103, 104, 105]
['1010', '1111', '1212', '1313', '1414', '1515', '1616', '1717', '1818', '1919', '2020', '2121', '2222', '2323', '2424', '2525', '2626', '2727', '2828', '2929', '3030', '3131', '3232', '3333', '3434', '3535', '3636', '3737', '3838', '3939', '4040', '4141', '4242', '4343', '4444', '4545', '4646', '4747', '4848', '4949', '5050', '5151', '5252', '5353', '5454', '5555', '5656', '5757', '5858', '5959', '6060', '6161', '6262', '6363', '6464', '6565', '6666', '6767', '6868', '6969', '7070', '7171', '7272', '7373', '7474', '7575', '7676', '7777', '7878', '7979', '8080', '8181', '8282', '8383', '8484', '8585', '8686', '8787', '8888', '8989', '9090', '9191', '9292', '9393', '9494', '9595', '9696', '9797', '9898', '9999']
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100, 101, 103, 104]