# Домашнее задание

В домашнем задании вам необходимо рассмтреть данные с олимпиады НТИ по профилю "Исскусственный интеллект" за 2019-2020 год.

Задачу можно найти по ссылке:

https://www.kaggle.com/c/onti-students-performance/data

## **Как загрузить данные в Google Colab?**

1. Из Github (файлы <25 МБ)
2. С локального диска
3. С Google Диска

In [ ]:
# Github
# 1. Нажмите на файл с данными, которые хотите подключить
# 2. Нажмите "Raw"
# 3. Скопируйте ссылку открывшейся старницы
import pandas as pd

url = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/X_train.csv'
df1 = pd.read_csv(url)

df1.head()

In [ ]:
# С локального компьютера

from google.colab import files
uploaded = files.upload()

In [ ]:
studs_info = pd.read_csv('studs_info.csv')
X_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')
zachety = pd.read_csv('zachety.csv')

In [ ]:
# Google disk

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = "copied path"
# /content/drive/MyDrive/Data Science для школьников/ОНТИ /ONTI Students performance/X_train.csv
df_bonus = pd.read_csv(path)

## Вариант 1.

Кто делает:
1. Анохин Георгий Александрович
2. Георгиев Денис Дмитриевич 
3. Горячев Иван Сергеевич
4. Даниярбек уулу Нурбол
5. Дорохов Матвей Дмитриевич 
6. Зайцев Егор Андреевич

1. Посмотреть размерность дата фреймов.
2. Соедить два датафрейма X_train и y_train в один train по индексам.
3. Посчитать пропуски в получившемся датафрейме train.
4. Посчитать сколько раз встречается каждая специальность в колонке studs_info['направление (специальность)'].
5. Создать новый датафрейм из studs_info, в котором будут только женщины с лечебного дела.
6. Разложить колонку "Дата выпуска" на три: Год выпуска, Месяц выпуска, День выпуска.
7. Посчитать сколько уникальных значений в колонке studs_info['Категория обучения'].
8. Заменить в колонке studs_info['Категория обучения'] все строковые категории на числовые.
9. Удалить ненужную на ваш вгляд колонку из датафрейма studs_info.
10. Посчитать сколько мужчин выпустились 2019-08-31.

In [ ]:
# Ваше решение

## Вариант 2.

Кто делает:
1. Зверев Александр Александрович 
2. Зимина Александра Георгиевна
3. Иванов Александр Андреевич 
4. Калентьев (Топилин) Константин Юрьевич
5. Мартюшев Владислав Алексеевич

1. Посмотреть размерность дата фреймов.
2. Соедить два датафрейма X_train и y_train в один train по индексам.
3. Посчитать пропуски в датафрейме studs_info.
4. Посчитать сколько мужчин, сколько женщин в датафрейме studs_info.
5. Создать новый датафрейм из studs_info, в котором будут только мужчины 2019-06-30 года выпуска.
6. Разложить колонку "Дата выдачи" на четыре: Год выдачи, Месяц выдачи, День выдачи, Время выдачи.
7. Посчитать сколько уникальных значений в колонке studs_info['Статус'] и сколько раз каждое значение встречается в датафрейм.
8. Посчитать сколько раз какая оценка встречатся в датафрейм y_train.
9. Посчитать средний балл для студента с ID=175711 по всем предметам.
10. Удалить любую ненужны колонку на ваш вгляд из датафрейм train.

In [29]:
import pandas as pd

studs_info = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/studs_info.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/y_train.csv')
zachety = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/zachety.csv')

In [30]:
#Задание 1

print("studs_info: ", studs_info.shape)
print("X_train: ", X_train.shape)
print("y_train: ", y_train.shape)
print("zachety: ", zachety.shape)

studs_info:  (5466, 13)
X_train:  (105058, 8)
y_train:  (105058, 2)
zachety:  (133223, 8)

In [31]:
#Задание 2

train = pd.concat([X_train, y_train], axis = 1)
train

,Unnamed: 0,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,index,mark
0,51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,51081,5
1,72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",72921,5
2,96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,96438,5
3,273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,273044,4
4,371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,371309,3
...,...,...,...,...,...,...,...,...,...,...
105053,224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,224856,3
105054,260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,260998,3
105055,57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,57245,4
105056,218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,218529,4
105057,233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,233318,4

In [32]:
#Задание 3

nan_count = studs_info.isna().sum()
nan_count

STD_ID                            0
   number                         1
Пол                               1
Статус                            1
Дата выпуска                   5002
Категория обучения                1
Форма обучения                    1
Шифр                              1
направление (специальность)       1
                                191
Образование                     191
Дата выдачи                     240
Что именно закончил             191
dtype: int64

In [33]:
#Задание 4

sex = studs_info["Пол"]
women_count = sex[sex == "Ж"].count()
print("Женщины: ", women_count)
men_count = sex[sex == "М"].count()
print("Мужчины: ", men_count)

Женщины:  3192
Мужчины:  2273

In [34]:
#Задание 5

menn = studs_info[studs_info["Пол"] == "М"]
men_thirtythjune2019 = menn[menn["Дата выпуска"] == "2019-06-30"].shape[0]
men_thirtythjune2019

55

In [35]:
#Задание 6

studs_info_new = studs_info["Дата выдачи"].str.split(" ", expand = True)
studs_info_new1 = pd.concat([studs_info_new[0].str.split("-", expand = True), studs_info_new[1]], axis = 1)
studs_info_new1.columns = ["Год выдачи", "Месяц выдачи", "День выдачи", "Время выдачи"]
studs_info_new1

     Год выдачи Месяц выдачи День выдачи Время выдачи
0          2013           06          26     00:00:00
1          2012           06          23     00:00:00
2          2013           06          25     00:00:00
3          2013           06          23     00:00:00
4          2012           06          29     00:00:00
...         ...          ...         ...          ...
5461       2013           06          21     00:00:00
5462       2013           06          27     00:00:00
5463       2014           05          31     00:00:00
5464        NaN          NaN         NaN          NaN
5465        NaN          NaN         NaN          NaN

[5466 rows x 4 columns]

In [36]:
#Задание 7

stat_unique = studs_info["Статус"].value_counts()
stat_unique

СТ     5001
ВЫП     464
Name: Статус, dtype: int64

In [37]:
#Задание 8

mark_unique = y_train["mark"].value_counts()
mark_unique

4    42217
5    41085
3    21756
Name: mark, dtype: int64

In [38]:
#Задание 9

train_175711 = train[train["STD_ID"] == 175711]
av_mark_175711 = train_175711["mark"].sum()/train_175711["mark"].count()
av_mark_175711

4.181818181818182

In [39]:
#Задание 10

train.drop(columns = ["Unnamed: 0"], inplace = True)
train

,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,index,mark
0,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,51081,5
1,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",72921,5
2,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,96438,5
3,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,273044,4
4,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,371309,3
...,...,...,...,...,...,...,...,...,...
105053,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,224856,3
105054,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,260998,3
105055,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,57245,4
105056,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,218529,4
105057,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,233318,4

## Вариант 3.

Кто делает:
1. Нечаев Никита Максимович
2. Нуромский Евгений Михайлович
3. Родин Андрей Дмитриевич
4. Рыженко Роман Владиславович
5. Юлов Егор Владимирович

Задания:
1. Посмотреть размерность дата фреймов.
2. Соедить два датафрейма X_train и y_train в один train по индексам.
3. Посчитать пропуски в датафрейме studs_info.
4. Посчитать сколько уникальных значений в колонке АТТЕСТАЦИЯ и сколько раз каждое из них встречается.
5. Переименовать все колонки датафрейм train, чтобы названия были маленькими буквами.
6. Разложить колонку "направление" на две: Код направления, Название направления.
7. Создать новый датафрейм, в котором будут только мужчины 3 курса обучения.
8. Заменить все строковые значения в колонке Пол на числовые.
9. Сколько всего студентов сдавали предмет "Информатика" в виде экзамена? И какой средний балл по всем сдававшим?

In [ ]:
# Ваше решение