In [1]:
import pandas as pd

# №1

In [2]:
url1 = 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/X_train.csv'
x_train = pd.read_csv(url1)
x_train.shape

(105058, 8)

In [3]:
url2 = "https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/studs_info.csv"
studs_info = pd.read_csv(url2)
studs_info.shape

(5466, 13)

In [4]:
url3 = "https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/y_train.csv"
y_train = pd.read_csv(url3)
y_train.shape

(105058, 2)

In [5]:
url4 = "https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/class_work_4_Pandas/ONTI%20Students%20performance/zachety.csv"
zachety = pd.read_csv(url4)
zachety.shape

(133223, 8)

# №2

In [6]:
train = pd.concat([x_train, y_train], axis=1)
train

,Unnamed: 0,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,index,mark
0,51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,51081,5
1,72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",72921,5
2,96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,96438,5
3,273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,273044,4
4,371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,371309,3
...,...,...,...,...,...,...,...,...,...,...
105053,224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,224856,3
105054,260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,260998,3
105055,57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,57245,4
105056,218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,218529,4
105057,233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,233318,4

# №3

In [7]:
studs_info.isna().sum()

STD_ID                            0
   number                         1
Пол                               1
Статус                            1
Дата выпуска                   5002
Категория обучения                1
Форма обучения                    1
Шифр                              1
направление (специальность)       1
                                191
Образование                     191
Дата выдачи                     240
Что именно закончил             191
dtype: int64

# №4

In [8]:
studs_info.head()

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
0,99136,13951.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2629.0,СР,2013-06-26 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
1,99112,13998.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,8240.0,СР,2012-06-23 00:00:00,"МОУ СОШ N 2, ПЕСТОВО"
2,99109,13999.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2314.0,СР,2013-06-25 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
3,99125,13953.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2345.0,СР,2013-06-23 00:00:00,"Гимназия ""ГАРМОНИЯ"""
4,100676,13950.0,М,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2650.0,СР,2012-06-29 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА

In [9]:
studs_info["Пол"].value_counts()

Ж    3192
М    2273
Name: Пол, dtype: int64

# №5

In [10]:
df1 = studs_info[(studs_info["Пол"] == "М") & (studs_info["Дата выпуска"] == "2019-06-30")]
df1.head(3)

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
41,141750,13098.0,М,ВЫП,2019-06-30,БП,Д,38.03.01,Экономика,4214.0,СР,2015-06-26 00:00:00,"СРЕДНЯЯ ШКОЛА N 33, НОВГОРОД"
52,141829,12000.0,М,ВЫП,2019-06-30,БП,Д,11.03.01,Радиотехника,9921.0,СР,2015-06-26 00:00:00,"СРЕДНЯЯ ШКОЛА N 21, НОВГОРОД"
64,139074,12173.0,М,ВЫП,2019-06-30,БП,З,35.03.04,Агрономия,9971.0,СП,2015-01-30 00:00:00,"ГОУ НПО ""Агролицей №25"" , СТАРАЯ РУССА"

# №6

In [52]:
data = studs_info["Дата выдачи"].str.split(" |-", expand=True)
data = data.rename(columns={0: "Год выдачи", 1: "Месяц выдачи", 2: "День выдачи", 3: "Время выдачи"})
data

     Год выдачи Месяц выдачи День выдачи Время выдачи
0          2013           06          26     00:00:00
1          2012           06          23     00:00:00
2          2013           06          25     00:00:00
3          2013           06          23     00:00:00
4          2012           06          29     00:00:00
...         ...          ...         ...          ...
5461       2013           06          21     00:00:00
5462       2013           06          27     00:00:00
5463       2014           05          31     00:00:00
5464        NaN          NaN         NaN          NaN
5465        NaN          NaN         NaN          NaN

[5466 rows x 4 columns]

In [53]:
studs_info = pd.concat([studs_info, data], axis=1)
studs_info.head(3)

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил,Год выдачи,Месяц выдачи,День выдачи,Время выдачи
0,99136,13951.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2629.0,СР,2013-06-26 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,26,00:00:00
1,99112,13998.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,8240.0,СР,2012-06-23 00:00:00,"МОУ СОШ N 2, ПЕСТОВО",2012,06,23,00:00:00
2,99109,13999.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2314.0,СР,2013-06-25 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,25,00:00:00

In [54]:
studs_info = studs_info.drop(columns="Дата выдачи")
studs_info.head(3)

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Что именно закончил,Год выдачи,Месяц выдачи,День выдачи,Время выдачи
0,99136,13951.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2629.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,26,00:00:00
1,99112,13998.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,8240.0,СР,"МОУ СОШ N 2, ПЕСТОВО",2012,06,23,00:00:00
2,99109,13999.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2314.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,25,00:00:00

# №7

In [11]:
studs_info["Статус"].value_counts()

СТ     5001
ВЫП     464
Name: Статус, dtype: int64

# №8

In [12]:
y_train.head()

    index  mark
0   51081     5
1   72921     5
2   96438     5
3  273044     4
4  371309     3

In [13]:
y_train["mark"].value_counts()

4    42217
5    41085
3    21756
Name: mark, dtype: int64

# №9

In [14]:
train[train["STD_ID"] == 175711.0]["mark"].mean()

4.181818181818182

# №10

In [15]:
train = train.drop(columns="index")
train

,Unnamed: 0,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,mark
0,51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,5
1,72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",5
2,96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,5
3,273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,4
4,371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,3
...,...,...,...,...,...,...,...,...,...
105053,224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,3
105054,260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,3
105055,57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,4
105056,218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,4
105057,233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,4