#Вариант 2

№1

In [5]:
print("Вводите списки с двумя пробелами между элементами")
n1 = [i for i in input("Введите второй список ").split("  ")]
n2 = [i for i in input("Введите второй список ").split("  ")]
print(*list(i for i in n1 if i not in n2))

Вводите списки с двумя пробелами между элементами
Введите второй список 1  5  3  f
Введите второй список 2  5  h  k
1 3 f

№2

In [6]:
list = ['a', 4, 'hello', (1,5), 10, 'b']
for i in range(0, len(list) - 1, 2):
    list[i], list[i + 1] = list[i + 1], list[i]
print(list)

[4, 'a', (1, 5), 'hello', 'b', 10]

№3

In [7]:
s = input().upper()
print("yes" if s == s[::-1] else "no")

ghjhG
yes

№4

In [10]:
n = [int(i) for i in input().split(" ")]
print(*[i ** 2 for i in n])
print(*[i // 4 for i in n])
print(*[i for i in n if i % 2 == 1])
print(*[i * 2 if i > 0 else i / 2 for i in n])
print(*[[i, i + 1] for i in n])
print(*[n[i] for i in range(len(n)) if i % 5 == 0])

1 3 5 -3 4 6
1 9 25 9 16 36
0 0 1 -1 1 1
1 3 5 -3
2 6 10 -1.5 8 12
[1, 2] [3, 4] [5, 6] [-3, -2] [4, 5] [6, 7]
1 6